* {
  margin: 0px;
  padding: 0px;

  font-family: monospace;
  font-size: 1.5rem;

  color: #0f0;
  background-color: #000;
}

body {
  display: flex;

  height: 100svh;
  width: 100svw;

  color: #fff;
}

.empty::after {
  content: ".";
  color: transparent;
}

.terminal {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.output {
  max-height: 100%;

  overflow-y: scroll;

  word-wrap: break-word;
}

.output-line {
  color: #fff;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.input {
  display: flex;

  border: none;
  outline: none;

  width: 100%;

  color: #fff;
  caret-color: #fff;
}

.prompt {
  white-space: nowrap;
}

.active-prompt::after {
  content: ".";
  color: transparent;
}

.error {
  color: #f00;
}

#editor {
  border: 2px solid #0f0;

  align-self: center;
  justify-self: center;
}

#editor[open],
#editor-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

#editor-text {
  padding: .8rem;
  color: #fff;

  border: none;
  outline: none;

  height: 100%;
}

#editor-buttons {
  display: flex;
  flex-direction: row;

  height: 10%;
}

.editor-button {
  color: #fff;

  border: 1px solid #0f0;
  border-bottom: none;
  border-top: 2px solid #0f0;
  border-right: none;

  width: 50%;
}

#save-file {
  border-right: 1px solid #0f0;
  border-left: none;
}

.editor-button:hover,
.editor-button:focus {
  color: #000;
  background-color: #0f0;
  outline: none;
}